[Desktop Entry]
Type=Application
Name=HyOS Inspector
GenericName=Document Inspector
Comment=Analyze and work with documents using HyOS AI
Exec=hyos-inspector %u
Icon=tech.hyos.Inspector
StartupNotify=true
Categories=Utility;
MimeType=application/pdf;application/vnd.odt;application/vnd.docx;text/plain;
Keywords=AI;document;summary;analyze;translate;
